<h2>Conectate con nosotros</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1994.905567775901!2d-78.47149685239258!3d-0.10873471374319985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58f8722b83307%3A0xaa5fda1a78d41c70!2sLicoreria%20Don%20Wii!5e0!3m2!1ses!2sec!4v1683558908391!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h2>Nuestras redes sociales
</h2>
<link rel="stylesheet" href="https://www.instagram.com/cafe_indera/">
<p>https://www.instagram.com/cafe_indera/</p>